@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Remplace ces valeurs par celles de ton logo */
  --color-primary: #3b82f6; /* Ex: Un bleu électrique */
  --color-accent: #10b981;  /* Ex: Un vert validation/terminal */

  --bg-main: #0f172a;       /* Fond sombre (Slate 900) */
  --bg-card: #1e293b;       /* Fond des cartes (Slate 800) */
  --text-main: #f8fafc;     /* Texte clair */
  --text-muted: #94a3b8;    /* Texte secondaire */
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
