@import "tailwindcss";

@layer base {
  :root {
    /* Tes couleurs Flux Électrique */
    --color-primary: #3b82f6; /* Bleu électrique */
    --color-accent: #10b981;  /* Vert validation */

    /* On aligne les noms avec Tailwind et ton Layout */
    --background: #0f172a;    /* Ex bg-main (Slate 900) */
    --bg-card: #1e293b;       /* Fond des cartes (Slate 800) */
    --foreground: #f8fafc;    /* Ex text-main (Texte clair) */
    --text-muted: #94a3b8;    /* Texte secondaire */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    /* Les polices sont déjà gérées par le layout.tsx (Geist) */
  }
}